<div class="row">
	{{#each candi}}
	<div class="col-md-3 col-sm-1">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title d-flex justify-content-between align-items-center text-uppercase">{{lema}} <a href="/vistaAdmi/editar/{{_id}}" class="btn btn-outline-primary">editar</a></h4>
			</div>
		<div class="card-body">
			<h2>{{nombre}} {{apellido}}</h2>
		
			<h3>Grado: {{grado}} ª {{curso}}</h3>
		
	
			<form action="/vistaAdmi/delete/{{_id}}?_method=DELETE" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<button type="submit" class="btn btn-primary btn-block">Eliminar</button>
			</form>
		</div>
		</div>
	</div>
	{{else}}
	<div class="card mx-auto">
		<div class="card-body">
			<h2 class="display-1">Hola {{user.name}}</h2>
			<p class="lead">No hay candidatos creados</p>
			<a href="/vistaAdmi/add" class="btn btn-success btn-block">Desea crear uno</a>
		</div>
	</div>
	{{/each}}
	
</div>