{{#each errors}}
<div>
	<h2 class="bg-warning">{{text}}</h2>
	
</div>
{{/each}}

<div class="col-md-4 mx-auto">
	<div class="card">
		<div class="card-header">
			<h3>Editar Candidato</h3>
		</div>
		<div class="card-body">
			<form action="/vistaAdmi/editarC/{{candi._id}}?_method=PUT" method="POST">
				<input type="hidden" name="_methon" value="PUT">
				<div class="form-group">
					Nombre: <input type="text" class="form-control" name="nombre" value="{{candi.nombre}}"> 
					Apellido: <input type="text" class="form-control" name="apellido" value="{{candi.apellido}}">
				</div>
				<div class="form-group">
					Grado:<input type="text" class="form-control" name="grado" value="{{candi.grado}}">
					Curso:<input type="text" class="form-control" name="curso" value="{{candi.curso}}">
				</div>
				<div class="form-group">
					Lema: <input type="text" class="form-control" name="lema" value="{{candi.lema}}">
				</div>
				<button type="submit" class="btn btn-primary btn-block">
					Actualizar
				</button>
			
			</form>
		</div>
	</div>
</div>
